@import url("https://fonts.googleapis.com/css2?family=Exile&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaro:opsz@6..72&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");

#ig-ayush {
  font-family: "Oswald", sans-serif;
}

#name {
  font-family: "Spartan", sans-serif;
}

#bio {
  font-family: "Montserrat", sans-serif;
}
#tech {
  font-family: "Oswald", sans-serif;
}

#aboutmeBtn{
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(rgba(247, 127, 0, 1)),
    to(rgba(247, 127, 0, 0.5))
  );
  background-color: #f77f00;
}

#choices button{
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(rgba(247, 127, 0, 1)),
    to(rgba(247, 127, 0, 0.5))
    );
    background-color: #f77f00;
}

#choices{
  transition: all .5s;
  animation: ani 1.5s ease-in-out;
}

@keyframes ani{
  from{
    transform: translate(20px);
    opacity: 0;
  }
  to{
    transform: translate(0px);
    opacity: 1;
  }
}

.out{
  transform: translateY(-10px);
  opacity: 0;
}

.in{
  transform: translateY(0px);
  opacity: 1;
}
#about-me-section{
  animation: pop-up .3s ease-in-out;
}
#about-me-section.flex #informations{
  animation: pop-up .5s ease-in-out;
}

@keyframes pop-up{
  from{
    transform: translateY(-50px);
    opacity: 0;
  }

  to{
    transform: translateY(0px);
    opacity: 1;
  }
}